body {
  animation-name: aparecer;
  animation-duration: 2s;
  animation-iteration-count:initial;
  overflow-x:hidden;
  background-color: black !important;
}.enca-index {
  font-family: cinzel;
  background-color: rgb(5, 5, 5);
  color: white !important;
  text-decoration: none;
}
h1{
  font-family: vt323;
  color: rgb(16, 247, 8) !important;
  text-decoration: underline;
}
h2{
  color: white !important;
  font-family:vt323;
  text-decoration: underline;
  font-size: 30px !important;
}
h3 {
  font-family: vt323;
  color: white !important;
  text-decoration: underline;
  font-size: 25px;
}
.info {
  color: white;
}
p {
  font-family: monospace;
  font-size: 22px;
  color: white;
}
.dibujos {
  color: white;
}
.ejemplos {
  color: white;
  font-family: "Courier New", Courier, monospace;
}
html {
  font-size: 17px;
}
.nav-link {
  font-family: fantasy;
  color: rgb(16, 247, 8);
}
.nav-link:hover {
  background-color: rgb(16, 247, 8);
  text-decoration: underline;
}
.subti {
  background-color: rgb(16, 247, 8);
  display: flex;
  justify-content: center;
  font-family: vt323;
  font-size: 25px;
  text-decoration: underline;
  color: black !important;
}
.align-items-center {
  background-color: rgb(16, 247, 8);
}
.dudas {
  background-color: white;
  text-align: end;
}

.fc, .ig{
  font-family: vt323;
  font-size: 25px;
  color: black;
  text-align: center;
}

.fc:hover {
  background-color: black;
  color: white;
  text-decoration: underline;
}
.ig:hover {
  background-color: black;
  color: white;
  text-decoration: underline;
}

.img-fluid {
  max-width: 30%;
}
.grid-layout, .grid-layout2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
}
.imgd, .imgp, .imgt {
  width: 300px;
  height: 300px;
  margin: 0px;
  border: 1px solid white;
}
.img-insu{
  border-top: 5px solid black;
  width: 350px;
  height: 350px;
}
.img-preguntas{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  text-align: center;
  gap: 10px;
}
.img-pf{
  width: 350px;
  height: 350px;
}
.img-joyas, .oro, .zirconia, .Swarovski{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  text-align: center;
  background-color:white;

}
.imgj{
  width: 330px;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@keyframes aparecer {
  0% { opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.imgcarru{
width: 100%;
}
form{
  background-color:rgb(16, 247, 8);
  
}
.cata{
 text-align: center;
 font-family: 'Times New Roman', Times, serif;
}

