body {
  animation-name: aparecer;
  animation-duration: 2s;
  animation-iteration-count:initial;
  overflow-x:hidden;
  background-color: black ;
}.enca-index {
  font-family: 'Cinzel Decorative', cursive;
  background-color: rgb(5, 5, 5);
  color: white ;
  text-decoration: none;
  margin: 5px;
}
h1{
  font-family:'VT323', monospace;
  color: rgb(16, 247, 8);
  text-decoration: underline;
}
h2{
  color: white ;
  font-family: 'VT323', monospace;
  text-decoration: underline;
  font-size: 30px ;
}
h3 {
  font-family: 'VT323', monospace;
  color: white ;
  text-decoration: underline;
  font-size: 25px;
}
h4{
  background-color: rgb(16, 247, 8);
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  text-decoration: underline;
  padding-bottom: 25px;
}
p {
  font-family: monospace;
  font-size: 22px;
  color: white;
  margin:15px;
}
.ejemplos {
  color: white;
  font-family: "Courier New", Courier, monospace;
}
html {
  font-size: 17px;
}
.nav-link {
  font-family: fantasy;
  color: rgb(16, 247, 8);
}
.nav-link:hover {
  background-color: rgb(16, 247, 8);
  text-decoration: underline;
}
.subti {
  background-color: rgb(16, 247, 8);
  display: flex;
  justify-content: center;
  font-family: 'VT323', monospace;
  font-size: 25px;
  text-decoration: underline;
  color: black;
}
.align-items-center {
  background-color: rgb(16, 247, 8);
}
.img-fluid {
  max-width: 30%;
}
.grid-layout, .grid-layout2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  margin-bottom: 50px;
  margin-top: 20px;
}
.imgd, .imgp, .imgt {
  width: 100%;
  height: 300px;
  border: 5px solid black;
 object-fit: cover;
  
}
.img-insu{
  border-top: 5px solid black;
  width: 100%;
  height: 400px;
}

.img-joyas, .oro, .zirconia, .Swarovski{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  text-align: center;
  background-color:white;

}
.imgj{
  width: 330px;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@keyframes aparecer {
  0% { opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.imgcarru{
width: 100%;
}
.cata{
 text-align: center;
 font-family: 'Times New Roman', Times, serif;
}
.copy{
  font-size: 20px;
  text-align: center;
}
.ubicacion{
  margin-top: 50px;
  margin-bottom: 50px;
}
.fc, .ig{
  font-family: vt323;
  font-size: 25px;
  color: black;
  text-align: center;
  margin-left: 50px;
}
.fc:hover {
  background-color: black;
  color: white;
  text-decoration: underline;
}
.ig:hover {
  background-color: black;
  color: white;
  text-decoration: underline;
}
.formulario{
  padding-bottom: 40px;
  padding-top: 50px;
  background-color: rgb(16, 247, 8);
}