body {
  animation-name: aparecer;
  animation-duration: 2s;
  animation-iteration-count:initial;
  overflow-x:hidden;
  background-color: black ;
}.enca-index {
  font-family: 'Cinzel Decorative', cursive;
  background-color: rgb(5, 5, 5);
  color: white ;
  text-decoration: none;
  margin: 5px;
}
h1{
  font-family:'VT323', monospace;
  color: rgb(16, 247, 8);
  text-decoration: underline;
}
h2{
  color: white ;
  font-family: 'VT323', monospace;
  text-decoration: underline;
  font-size: 30px ;
}
h3 {
  font-family: 'VT323', monospace;
  color: white ;
  text-decoration: underline;
  font-size: 25px;
}
h4{
  background-color: rgb(16, 247, 8);
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  text-decoration: underline;
  padding-bottom: 25px;
}
p {
  font-family: monospace;
  font-size: 22px;
  color: white;
  margin:15px;
}
.ejemplos {
  color: white;
  font-family: "Courier New", Courier, monospace;
}
html {
  font-size: 17px;
}
.nav-link {
  font-family: fantasy;
  color: rgb(16, 247, 8);
}
.nav-link:hover {
  background-color: rgb(16, 247, 8);
  text-decoration: underline;
}
.subti {
  background-color: rgb(16, 247, 8);
  display: flex;
  justify-content: center;
  font-family: 'VT323', monospace;
  font-size: 25px;
  text-decoration: underline;
  color: black;
}
.align-items-center {
  background-color: rgb(16, 247, 8);
}
.img-fluid {
  max-width: 30%;
}
.grid-layout{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  margin-bottom: 50px;
  margin-top: 20px;
}
.imgp, .imgd{
  width: 100%;
  height: 350px;
  border: 5px solid black;
 object-fit:cover;
}
.imgt{
  width: 100%;
  height: 350px;
  border: 5px solid black;
}

.img-joyas, .oro, .zirconia, .Swarovski{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  text-align: center;
  background-color:white;

}
.imgj{
  width: 330px;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.animate__animated_animate__backInLeft{
  width: 100%;
  height: 200px;
}
@keyframes aparecer {
  0% { opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.imgcarru{
width: 100%;
}
.cata{
 text-align: center;
 font-family: 'Times New Roman', Times, serif;
}
.copy{
  font-size: 20px;
  text-align: center;
}
.ubicacion{
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: auto;
}
.fc, .ig{
  font-family: vt323;
  font-size: 25px;
  color: black;
  text-align: center;
  margin-left: 50px;
}
.fc:hover {
  background-color: black;
  color: white;
  text-decoration: underline;
}
.ig:hover {
  background-color: black;
  color: white;
  text-decoration: underline;
}
.formulario{
  padding-bottom: 40px;
  padding-top: 50px;
  background-color: rgb(16, 247, 8);
}


/*products cards */

.shop-content{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 80px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 80px;
}
.card{
  box-shadow: 0 4px 8px 0 rgb(5, 5, 5);
  max-width: 300px;
  margin: auto;
  text-align: center;
}
.card img{
  width: 90%;
  height: 250px;
}
.price{
  color: rgb(16, 247, 8);
  font-size: 22px;
  font-family: vt323;
}
.card button{
  border: none;
  outline: 0;
  padding: 12px;
  color:rgb(16, 247, 8);
  background-color: black;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 25px;
  font-family: vt323;
}
.card button:hover{
  background-color: rgb(16, 247, 8);
  color: black;
}

/*modal content*/

.modal-container{
  width: 80%;
  margin:0 10%;
max-height: 88vh;
color: white;
background-color:rgb(17, 17, 17);
display: flex;
flex-direction: column;
align-items: center;
position: fixed;
overflow: auto;
z-index: 9;
top: 12vh;
scrollbar-color: none;
}
.modal-container::-webkit-scrollbar{
  display: none;
}
.modal-header{
  display: flex;
  justify-content: space-around;
  background-color: rgb(250, 250, 250);
  color: white;
  width: 100%;
}
.modal-header-title{
  justify-self: start;
}
.modal-header-button{
  cursor: pointer;
}
.modal-container > .modal-content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 10px;
}
.modal-container > div > img{
  height: 120px;
  width: 120px;
}
.total-content{
  font-size: 30px;
  padding: 20px;
  text-align: center;
  padding-top: 20px;
  color: white;
  font-family: vt323;
}
/*delete button*/
.delete-product{
  cursor: pointer;
}
/*LA CANTIDAD CARRITO*/
.cantidadCarrito{
  background-color: rgb(16, 247, 8);
  color: white;
  border-radius: 100%;
  padding: 6px;
  top: 10px;
  right: 14px;
  position: absolute;
  display: none;
  font-family: vt323;
  font-size: 20px;
}
