.enca-index {
	font-family: $font-family_1;
	background-color: $background-color_2;
	color: $color_1;
	text-decoration: none;
	margin: 5px;
}
.subti {
	background-color: $background-color_3;
	display: flex;
	justify-content: center;
	font-family: $font-family_2;
	font-size: 25px;
	text-decoration: underline;
	color: $color_3;
}
.imgcarru {
	width: 100%;
}
.ubicacion {
	margin-top: 50px;
	margin-bottom: 50px;
}
.fc {
	font-family: $font-family_8;
	font-size: 25px;
	color: $color_3;
	text-align: center;
	margin-left: 50px;
	&:hover {
		background-color: $background-color_1;
		color: $color_1;
		text-decoration: underline;
	}
}
.ig {
	font-family: $font-family_8;
	font-size: 25px;
	color: $color_3;
	text-align: center;
	margin-left: 50px;
	&:hover {
		background-color: $background-color_1;
		color: $color_1;
		text-decoration: underline;
	}
}
.formulario {
	padding-bottom: 40px;
	padding-top: 50px;
}
.copy {
	font-size: 20px;
	text-align: center;
}
