.grid-layout {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	margin-bottom: 50px;
	margin-top: 20px;
}
.grid-layout2 {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	margin-bottom: 50px;
	margin-top: 20px;
}
.imgd {
	width: 100%;
	height: 300px;
	border: 5px solid black;
	object-fit: cover;
}
.imgp {
	width: 100%;
	height: 300px;
	border: 5px solid black;
	object-fit: cover;
}
.imgt {
	width: 100%;
	height: 300px;
	border: 5px solid black;
	object-fit: cover;
}
