$color_1: white;
$color_2: rgb(16, 247, 8);
$color_3: black;
$font-family_1: 'Cinzel Decorative', cursive;
$font-family_2: 'VT323', monospace;
$font-family_3: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$font-family_4: monospace;
$font-family_5: "Courier New", Courier, monospace;
$font-family_6: fantasy;
$font-family_7: 'Times New Roman', Times, serif;
$font-family_8: vt323;
$background-color_1: black;
$background-color_2: rgb(5, 5, 5);
$background-color_3: rgb(16, 247, 8);